*, h1{
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    color: hsl(278, 68%, 11%);
}

html{
    height: 100%;
}

body{
    height: 100%;
}

.main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-image{
    background: url("../images/bg-main-mobile.png");
    width: 100%;
    height: 250px;
    background-size: cover;
}

.card-back{
    z-index: 100;
    position: absolute;
    top: 20px;
    right: 20px;
    background: url("../images/bg-card-back.png");
    width: 300px;
    height: 150px;
    border-radius: 10px;
    background-size: cover;
    padding: 10px;
    display: flex;
    align-items: center;
}

.card-front{
    z-index: 200;
    position: absolute;
    top: 130px;
    left: 20px;
    background: url("../images/bg-card-front.png");
    width: 300px;
    height: 150px;
    border-radius: 10px;
    background-size: cover;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card-icon{
    max-width: 50px;
    margin-bottom: auto;
}

.card-number{
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: 200;
    margin: 20px 0;
    letter-spacing: 4px;
}

.front-card-container{
    display: flex;
    justify-content: space-between;
}

.cardholder-name, .expiry-date, .cvv{
    color: white;
    font-size: 15px;
}

.cvv{
    position: absolute;
    right: 40px;
}

.form-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input[type="text"]{
    margin-top: 3px;
    display: inline-block;
    border: 1px solid hsl(270, 3%, 87%);
    padding: 5px;
    border-radius: 5px;
}

.alert{
    outline: 1px solid red;
}

input::placeholder{
    color: hsl(270, 3%, 87%);
}

input:focus{
    outline: none;
    border: 1px solid hsl(279, 52%, 26%);
}

.primary-credentials-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 385px;
}

.secondary-credentials-container{
    width: 100%;
    margin: 10px 0;
    display: flex;
    gap: 20px;
}

.month-year-container{
    display: flex;
    gap: 10px;
}

.name-container, .number-container, .expiry-date-container, .cvv-container{
    display: flex;
    flex-direction: column;
}

.month-year-container > input[type="text"]{
    max-width: 60px;
}

.cvv-container > input[type="text"]{
    width: calc(100% - 10px);
}

input[type="button"]{
    margin-top: 10px;
    color: white;
    background-color: hsl(278, 68%, 11%);
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s;
    width: min(calc(100% - 40px), 385px);
}

input[type="button"]:active{
    background-color: hsl(279, 52%, 26%);
}

.final-title{
    margin-top: 10px;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 2px;
}

.final-paragraph{
    color: hsl(279, 6%, 55%);
    letter-spacing: 1px;
}

.alert-message{
    color: red;
    margin-top: 5px;
    font-size: 12px;
}

@media (min-width: 1000px){
    .main-container{
        display: grid;
        grid-template-areas:
        "b s";
        grid-template-columns: 1fr 2fr;
        height: 100%;
    }

    .background-image{
        background: url("../images/bg-main-desktop.png");
        width: 100%;
        height: 100%;
        background-size: cover;
        grid-area: b;
    }

    .form-container{
        width: 385px;
        grid-area: s;
        margin: auto;
    }

    .card-display-container{
        position: absolute;
        top: 0;
    }

    .card-back{
        top: 410px;
        left: 100px;
    }

    .card-front{
        top: 190px;
        left: 30px;
    }
}