*{
    font-family: 'Outfit', sans-serif;
}

body{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d5e1ef;
}

/* BACK BUTTON */

.back-button{
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 5px 15px;
    background-color: rgb(7, 10, 19);
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

/* CHALLENGE */

.container{
    width: 280px;
    height: 460px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.qr-code{
    margin-top: 15px;
    width: 250px;
    border-radius: 15px;
}

.title{
    margin: 0;
    padding: 0 15px;
    text-align: center;
    font-size: 1.3em;
    color: hsl(218, 47%, 17%);
}

.text{
    margin: 0;
    padding: 0 20px;
    text-align: center;
    font-size: 0.9em;
    color: hsl(220, 15%, 55%);
}