*, h1{
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    background-color: #b1d0b3;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: rgba(120, 112, 176, 0.18);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px white;
    border-radius: 25px;
    gap: 25px;
}

.title{
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.text{
    resize: none;
    cursor: text;
    border-radius: 10px;
    width: 600px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.45);
    outline: 1px solid white;
    border: none;
    object-position: 0 0;
    padding: 20px;
}

.choice-container{
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.choice{
    color: white;
    font-size: 20px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.09);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.33);
    border-radius: 3px;
    outline: 1px solid white;
    pointer-events: none;
}