*{
    font-family: 'Comfortaa', cursive;
}

html{
    height: 100%;
}

body{
    background-image: linear-gradient(#110b20, #421838, #110b20);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.back-to-portfolio{
    color: #fd9bbf;
    text-shadow: 0 0 3px #e33171, 0 0 12px rgb(255, 0, 93), 0 0 25px #700b30;
    text-decoration: none;
    transition: 0.3s;
}

.back-to-portfolio:hover{
    color: rgba(167, 220, 245, 0.829);
    text-shadow: 0 0 5px #4eafff, 0 0 10px #006eff, 0 0 25px rgb(16, 45, 177);
}

.title{
    margin: 30px;
    font-size: 2em;
    color: #fd9bbf;
    text-shadow: 0 0 3px #e33171, 0 0 12px rgb(255, 0, 93), 0 0 25px #700b30;
    transition: all 0.3s;
    font-size: 30px;
}

/* MAIN CHALLENGE CONTAINER */

.neon-border{
    margin-top: 20px;
    padding: 25px;
    border-radius: 30px;
    border: 5px solid #fd9bbf;
    box-shadow: 0 0 3px #e33171, 0 0 12px rgb(255, 0, 93), 0 0 25px #700b30,
    inset 0 0 3px #e33171, inset 0 0 12px rgb(255, 0, 93), inset 0 0 25px #700b30;
    animation-delay: 0.025s;
}

.challenge-container{
    border-radius: 20px;
    background-image: linear-gradient(#2c1025ff, #0e0b2000);
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 15px;
    row-gap: 15px;
    padding: 20px;
}

.challenge{
    background-color: rgba(29, 12, 21, 0.349);
    width: 180px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.challenge:before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgba(29, 12, 21, 0.349);
    bottom: -10px;
    right: -10px;
    z-index: 0;
    position: absolute;
    border-radius: 50%;
    transition: all 0.4s;
}

.challenge:hover:before{
    transform: scale(70);
    background-color: rgba(255, 0, 76, 0.05);
}

.challenge:hover{
    cursor: pointer;
}

.challenge-thumbnail{
    width: 150px;
    height: 150px;
    margin-top: 15px;
    border-radius: 5px;
    z-index: 1;
}

.challenge-title{
    padding: 0 10px;
    color: rgba(167, 220, 245, 0.829);
    text-shadow: 0 0 5px #4eafff, 0 0 10px #006eff, 0 0 25px rgb(16, 45, 177);
    font-size: 20px;
    text-align: center;
    z-index: 1;
}

/* FOOTER */

footer{
    text-align: center;
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 100px;
}

.footer-title{
    color: #fd9bbf;
    text-shadow: 0 0 3px #e33171, 0 0 12px rgb(255, 0, 93), 0 0 25px #700b30;
    text-decoration: none;
    transition: 0.3s;
}

.footer-title:hover{
    color: rgba(167, 220, 245, 0.829);
    text-shadow: 0 0 5px #4eafff, 0 0 10px #006eff, 0 0 25px rgb(16, 45, 177);
}

.footer-geometry-container {
    filter: url(#drop-shadows-pink);
}

.footer-icon{
    fill: #fd9bbf;
}

@media (min-width: 480px){
    .challenge-container{
        grid-template-columns: 1fr 1fr;
    }

    .title{
        font-size: 35px;
    }
}

@media (min-width: 640px){
    .title-letter{
        font-size: 4em;
    }
}

@media (min-width: 700px){
    .title{
        font-size: 50px;
    }
    
    .challenge-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 900px){
    .challenge-container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1150px){
    .title{
        font-size: 65px;
    }
    
    .challenge-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1300px){
    .challenge-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1450px){
    .challenge-container{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}