:root{
    --dark-brown: #0a0605;
}

*, h1{
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    background-color: var(--dark-brown);
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.clock-background{
    position: relative;
    width: 250px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;
}

.arrow, .center-dot{
    position: absolute;
    left: 50%;
    top: 50%;
}

.arrow{
    transform-origin: left;
    transform: translate(0, -50%) rotateZ(-90deg);
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.hour-arrow{
    width: 50px;
    height: 5px;
    background-color: var(--dark-brown);
}

.minute-arrow{
    width: 75px;
    height: 4px;
    background-color: var(--dark-brown);
}

.second-arrow{
    width: 100px;
    height: 2px;
    background-color: darkred;
}

.center-dot{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    aspect-ratio: 1;
    background-color: var(--dark-brown);
    border-radius: 50%;
}

.display{
    color: white;
    display: inline-block;
}